    <div class="form-group">
      <select class="form-control">
        <option selected>Section</option>
        <option>Section2</option>
        <option>Section3</option>
        <option>Section4</option>
        <option>Section5</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control">
        <option selected>Bay</option>
        <option>Bay2</option>
        <option>Bay3</option>
        <option>Bay4</option>
        <option>Bay5</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control">
        <option selected>Asset</option>
        <option>Asset2</option>
        <option>Asset3</option>
        <option>Asset4</option>
        <option>Asset5</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control">
        <option>Variable to show</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-secondary">Plot</button>
      <button type="button" class="btn btn-secondary">Download</button>
      <button type="button" class="btn btn-secondary">Clear</button>
    </div>

